<div id="header">
	<div id="titletext">

		<h1>New Thread</h1>

	</div>
</div>

<div id="main">


	<div id="contentwrapper">

		<div id ="content">

			<%= form_for :bb_thread, url: bb_threads_path do |f| %>
			  <p>
				<%= f.label :title %><br>
				<%= f.text_field :title %>
			  </p>
			 
			  <p>
				<%= f.label :text %><br>
				<%= f.text_area :text %>
			  </p>
			 
			  <p>
				<%= f.submit %>
			  </p>
			<% end %>
			
		</div>
	</div>
</div>




